/* Nav */
.nav-container {
  display: flex;
  height: 205px;
  justify-content: space-between;
  background-color: rgb(249, 240, 227);
}

.nav-list {
  list-style-type: none;
  float: right;
}

li {
  display: inline;
  padding: 20px;
}
